@using BITOJ.Core
@using BITOJ.Core.Authorization
@{
    ViewBag.Title = "BITOJ - Contests";
}

<div class="jumbotron">
    <h1>Contests</h1>
    <p class="sup">
        View all contests on BIT Online Judge system.
    </p>
</div>

<div class="row">
    <div class="col-lg-3">
        @if (UserSession.IsAuthorized(Session) &&
             UserAuthorization.CheckAccessRights(UserGroup.Insiders, UserSession.GetUserGroup(Session)))
        {
            <div class="hidden-xs hidden-sm btn-group-vertical" style="display: block;">
                <a href="~/Contest/Add" role="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add a new contest
                </a>
            </div>

            <hr class="hidden-xs hidden-sm" />
        }

        <div class="panel panel-info" id="queryPanel">
            <div class="text-center panel-heading" id="queryHeading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#queryPanel" href="#queryFormDiv"
                       aria-expanded="true" aria-controls="queryFormDiv">
                        <strong>Query Contests</strong>
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collase in" id="queryFormDiv" aria-labelledby="queryHeading">
                <div class="panel-body">
                    <form role="search" action="@string.Format("/Query/ContestList")" id="queryForm">
                        <div class="form-group">
                            <label class="control-label" for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title" 
                                   value="@(Request.QueryString["title"] ?? string.Empty)"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="Creator">Creator</label>
                            <input type="text" class="form-control" id="creator" name="creator" 
                                   value="@(Request.QueryString["creator"] ?? string.Empty)"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="status">Status</label>
                            @Html.DropDownList("status", new SelectListItem[]
                            {
                                new SelectListItem() { Text = "All", Value = "-1", Selected = (string.IsNullOrEmpty(Request.QueryString["status"]))},
                                new SelectListItem() { Text = "Pending", Value = "0", Selected = (string.Compare(Request.QueryString["status"], "Pending", true) == 0) },
                                new SelectListItem() { Text = "Running", Value = "1", Selected = (string.Compare(Request.QueryString["status"], "Running", true) == 0) },
                                new SelectListItem() { Text = "Ended", Value = "2", Selected = (string.Compare(Request.QueryString["status"], "Ended", true) == 0) }
                            }, new { @class="form-control" })
                        </div>

                        <hr />

                        <button type="submit" class="btn btn-info btn-block" id="queryButton">Query</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div id="pageNav"></div>

        <table class="table table-striped table-hover" id="contestList">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Creator</th>
                    <th>Start time</th>
                </tr>
            </thead>
            <tbody id="contestListBody">
                <tr class="active" style="color: gray;">
                    <td>Loading...</td>
                    <td>Loading...</td>
                    <td>Loading...</td>
                    <td>Loading...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<input type="hidden" value="@Request.QueryString["title"]" name="titleFeed"/>
<input type="hidden" value="@Request.QueryString["creator"]" name="creatorFeed"/>
<input type="hidden" value="@Request.QueryString["status"]" name="statusFeed"/>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/Contests/index.js"></script>
}
