@using BITOJ.Core
@using BITOJ.Core.Authorization
@using BITOJ.Core.Convert
@using BITOJ.SiteUI.Models
@model UserProfileModel
@{
    ViewBag.Title = "BITOJ - " + Model.Username;

    string headClass = (Model.Sex == UserSex.Female)
        ? "jumbotron user-box user-box-female"
        : "jumbotron user-box user-box-male";

    bool owned =
        UserSession.IsAuthorized(Session) && string.Compare(UserSession.GetUsername(Session), Model.Username, false) == 0;
    bool admin = UserAuthorization.CheckAccessRights(UserGroup.Administrators, UserSession.GetUserGroup(Session));
}

<div class="@headClass">
    <h1>
        @Model.Username
        @if (!string.IsNullOrEmpty(Model.Organization))
        {
            <small>from @Model.Organization</small>
        }
    </h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs" role="tablist">
            @if (owned)
            {
                <li role="presentation" class="active">
                    <a href="#password" aria-controls="password" role="tab" data-toggle="tab">Password</a>
                </li>
            }
            else if (admin)
            {
                <li role="presentation" class="active">
                    <a href="#usergroup" aria-controls="usergroup" role="tab" data-toggle="tab">User group</a>
                </li>
            }

            <li role="presentation">
                <a href="#team" aria-controls="team" role="tab" data-toggle="tab">Teams</a>
            </li>
            <li role="presentation">
                <a href="#submissions" aria-controls="submissions" role="tab" data-toggle="tab">Submissions</a>
            </li>
        </ul>

        <div class="tab-content">
            @if (owned)
            {
                <div role="tabpanel" class="tab-pane active" id="password">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h3>Change password</h3>
                            <form class="form-inline" method="post">
                                <div class="form-group">
                                    <label for="old" class="sr-only">Old password</label>
                                    <input type="password" class="form-control" id="old" name="old" placeholder="Old password" />
                                </div>
                                <div class="form-group">
                                    <label for="new" class="sr-only">New password</label>
                                    <input type="password" class="form-control" id="new" name="new" placeholder="New password" />
                                </div>
                                <div class="form-group">
                                    <label for="confirm" class="sr-only">Confirm new password</label>
                                    <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm new password" />
                                </div>
                                <button type="submit" class="btn btn-warning">Change password</button>
                            </form>

                            @if (!string.IsNullOrEmpty(ViewBag.PasswordErrorMessage))
                            {
                                <div class="alert alert-danger" style="margin-top: 10px;">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    @ViewBag.PasswordErrorMessage
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            else if (admin)
            {
                <div role="tabpanel" class="tab-pane active" id="usergroup">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3">
                            <h3>Set user authorization group</h3>
                            <form class="form-inline" method="post" action="@string.Format("/Profile/ChangeUsergroup?username={0}", Model.Username)"
                                  id="changeUsergroupForm">
                                <div class="form-group">
                                    <label for="usergroup" class="sr-only">User group</label>
                                    @Html.DropDownList("usergroup", new SelectListItem[]
                                    {
                                        new SelectListItem()
                                        { Text = "Administrator", Value = UsergroupConvert.ConvertToString(UserGroup.Administrators), Selected = (Model.UserGroup == UserGroup.Administrators) },
                                        new SelectListItem()
                                        { Text = "Insider", Value = UsergroupConvert.ConvertToString(UserGroup.Insiders), Selected = (Model.UserGroup == UserGroup.Insiders) },
                                        new SelectListItem()
                                        { Text = "Standard", Value = UsergroupConvert.ConvertToString(UserGroup.Standard), Selected = (Model.UserGroup == UserGroup.Standard) },
                                        new SelectListItem()
                                        { Text = "Guest", Value = UsergroupConvert.ConvertToString(UserGroup.Guests), Selected = (Model.UserGroup == UserGroup.Guests) }
                                    }, new { @class = "form-control" })
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    Confirm
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }

            <div role="tabpanel" class="@string.Format("tab-pane{0}", !owned && !admin ? " active" : string.Empty)" id="team">
                @if (owned)
                {
                    <div class="row">
                        <div class="col-lg-3">
                            <button class="btn btn-success" style="margin-top: 15px; margin-bottom: 15px;"
                                    data-toggle="modal" data-target="#createTeam">
                                <span class="glyphicon glyphicon-plus"></span>
                                Create a new team
                            </button>
                        </div>
                    </div>

                    <div class="modal fade" id="createTeam" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="modalLabel">Create a new team</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="post" id="createTeamForm" action="~/Profile/CreateTeam">
                                        <div class="form-group" id="teamNameGroup">
                                            <label class="control-label" for="teamName">Team name</label>
                                            <input type="text" class="form-control" id="teamName" name="teamName" placeholder="Team name" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="Leader">Team leader</label>
                                            <input type="text" class="form-control" id="leader" name="leader" placeholder="Team leader"
                                                   value="@Model.Username" readonly />
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" id="closeModalButton"
                                            data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-primary" id="createTeamButton">
                                        Create
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    @if (Model.Teams.Count > 0)
                    {
                        foreach (TeamBriefModel team in Model.Teams)
                        {
                            <div class="col-lg-4">
                                <div class="card-box card-box-default team-box">
                                    <h3>
                                        <a href="@string.Format("/Profile/ShowTeam?teamId={0}", team.TeamId)">
                                            @team.Name
                                        </a>
                                    </h3>
                                    <p><span class="glyphicon glyphicon-user"></span> &times; @team.MembersCount</p>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-lg-12">
                            <div class="alert alert-info" style="margin-top: 10px;">
                                This user is not included in any teams yet.
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="submissions">

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/create-team.js"></script>
    <script type="text/javascript" src="~/Scripts/change-usergroup.js"></script>
}