@using BITOJ.Core.Authorization
@using BITOJ.Core.Convert
@using BITOJ.SiteUI.Models
@model ICollection<SubmissionBriefModel>

<div>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Problem</th>
                <th>Language</th>
                <th>Verdict</th>
                <th>Exe. Time</th>
                <th>Exe. Mem.</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                foreach (SubmissionBriefModel item in Model)
                {
                    <tr class="@item.GetRowClassName()">
                        <td>
                            <a href="@string.Format("/Status/ShowSubmission?id={0}", item.SubmissionId)">
                                @item.SubmissionId
                            </a>
                        </td>
                        <td>
                            <a href="@string.Format("/Profile/ShowUser?username={0}", item.Username)">
                                @item.Username
                            </a>
                        </td>
                        <td>
                            <a href="@string.Format("/Archieve/ShowProblem?id={0}", item.ProblemId)">
                                @item.ProblemTitle
                            </a>
                        </td>
                        <td>@SubmissionLanguageConvert.ConvertToString(item.Language)</td>
                        <td>
                            <span class="@item.GetVerdictClassName()">@item.GetVerdictString()</span>
                        </td>
                        <td>@item.ExecutionTime ms</td>
                        <td>@item.ExecutionMemory KB</td>
                        <td>@item.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
