@using BITOJ.Core
@using BITOJ.Core.Authorization

@{ 
    ViewBag.Title = "BITOJ - Archieve";
    ViewBag.ProblemListSubmitable = UserSession.IsAuthorized(Session);
    ViewBag.ProblemListEditable = UserSession.IsAuthorized(Session) &&
        UserAuthorization.CheckAccessRights(UserGroup.Administrators, UserSession.GetUserGroup(Session));
}

<div class="jumbotron">
    <h1>Problem archieve</h1>
    <p class="sup">
        View all problems on BIT Online Judge system and practice with the one you most concerned about.
    </p>
</div>

<div class="row">
    <div class="col-lg-3">
        @if (UserSession.IsAuthorized(Session) &&
            UserAuthorization.CheckAccessRights(UserGroup.Administrators, UserSession.GetUserGroup(Session)))
        {
            <div class="hidden-xs hidden-sm btn-group-vertical" style="display: block;">
                <a href="~/Archieve/Add" role="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add a new problem
                </a>
                <a href="~/Archieve/AddFromContest" role="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add problems from a contest
                </a>
            </div>

            <hr class="hidden-xs hidden-sm" />
        }

        <div class="panel panel-info" id="queryPanel">
            <div class="text-center panel-heading" id="queryHeading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#queryPanel" href="#queryForm"
                       aria-expanded="true" aria-controls="queryForm">
                        <strong>Query problems</strong>
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collase in" id="queryForm" aria-labelledby="queryHeading">
                <div class="panel-body">
                    <form role="search" id="queryForm">
                        <div class="form-group">
                            <label class="control-label" for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title"
                                   value="@Request.QueryString["title"]" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="source">Source</label>
                            <input type="text" class="form-control" id="source" name="source"
                                   value="@Request.QueryString["source"]" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="author">Author</label>
                            <input type="text" class="form-control" id="author" name="author"
                                   value="@Request.QueryString["author"]" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="origin">Origin</label>
                            @Html.DropDownList("origin", new SelectListItem[]
                            {
                                new SelectListItem() { Text = "BIT", Value = "BIT", Selected = (string.Compare("BIT", Request.QueryString["origin"], true) == 0) },
                                new SelectListItem() { Text = "BZOJ", Value = "BZOJ", Selected = (string.Compare("BZOJ", Request.QueryString["origin"], true) == 0) },
                                new SelectListItem() { Text = "CodeForces", Value = "CF", Selected = (string.Compare("CF", Request.QueryString["origin"], true) == 0) },
                                new SelectListItem() { Text = "CodeForces Gym", Value = "GYM", Selected = (string.Compare("GYM", Request.QueryString["origin"], true) == 0) },
                                new SelectListItem() { Text = "HDU", Value = "HDU", Selected = (string.Compare("HDU", Request.QueryString["origin"], true) == 0) },
                                new SelectListItem() { Text = "POJ", Value = "POJ", Selected = (string.Compare("POJ", Request.QueryString["origin"], true) == 0) },
                                new SelectListItem() { Text = "UVa", Value = "UVa", Selected = (string.Compare("UVa", Request.QueryString["origin"], true) == 0) },
                                new SelectListItem() { Text = "UVa Live Archieve", Value = "LA", Selected = (string.Compare("LA", Request.QueryString["origin"], true) == 0) },
                                new SelectListItem() { Text = "ZOJ", Value = "ZOJ", Selected = (string.Compare("ZOJ", Request.QueryString["origin"], true) == 0) },
                            }, new { @class = "form-control" })
                        </div>

                        <hr />

                        <button class="btn btn-info btn-block" type="submit" id="queryButton">Query</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div id="pageNav"></div>

        <table class="table table-striped table-hover" id="problemList">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Accept ratio</th>
                </tr>
            </thead>
            <tbody>
                <tr class="active" style="color: gray;">
                    <td>Loading</td>
                    <td>Loading</td>
                    <td>Loading</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<input type="hidden" id="query_title" value="@Request.QueryString["title"]"/>
<input type="hidden" id="query_author" value="@Request.QueryString["author"]"/>
<input type="hidden" id="query_source" value="@Request.QueryString["source"]"/>
<input type="hidden" id="query_origin" value="@Request.QueryString["origin"]"/>
<input type="hidden" id="query_page" value="@Request.QueryString["page"]"/>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/Archieve/index.js"></script>
}
