@using BITOJ.Core
@using BITOJ.Core.Authorization
@using BITOJ.SiteUI.Models
@model ArchieveModel

@{ 
    ViewBag.ProblemListSubmitable = UserSession.IsAuthorized(Session);
    ViewBag.ProblemListEditable = UserSession.IsAuthorized(Session) &&
        UserAuthorization.CheckAccessRights(UserGroup.Administrators, UserSession.GetUserGroup(Session));
}

<div class="jumbotron">
    <h1>Problem archieve</h1>
    <p class="sup">
        View all problems on BIT Online Judge system and practice with the one you most concerned about.
    </p>
</div>

<div class="row">
    <div class="col-lg-3">
        @if (UserSession.IsAuthorized(Session) &&
            UserAuthorization.CheckAccessRights(UserGroup.Administrators, UserSession.GetUserGroup(Session)))
        {
            <div class="hidden-xs hidden-sm btn-group-vertical" style="display: block;">
                <a href="~/Archieve/Add" role="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add a new problem
                </a>
                <a href="~/Archieve/AddFromContest" role="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add problems from a contest
                </a>
            </div>

            <hr class="hidden-xs hidden-sm" />
        }

        <div class="list-group">
            @{
                string[] navAnchorClasses = new string[3];
                for (int i = 0; i < 3; ++i)
                {
                    navAnchorClasses[i] = "list-group-item";
                }
                navAnchorClasses[(int)Model.Catalog] += " active";
            }

            <a class="@navAnchorClasses[0]" href="~/Archieve">
                <h5 class="list-group-item-heading">All problems</h5>
            </a>

            @if (UserSession.IsAuthorized(Session))
            {
                <a class="@navAnchorClasses[1]" href="~/Archieve/Solved">
                    <h5 class="list-group-item-heading">Solved problems</h5>
                </a>
                <a class="@navAnchorClasses[2]" href="~/Archieve/Attempt">
                    <h5 class="list-group-item-heading">Attempting problems</h5>
                </a>
            }
        </div>

        <hr />

        <div class="panel panel-info" id="queryPanel">
            <div class="text-center panel-heading" id="queryHeading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#queryPanel" href="#queryForm"
                       aria-expanded="true" aria-controls="queryForm">
                        <strong>Query problems</strong>
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collase in" id="queryForm" aria-labelledby="queryHeading">
                <div class="panel-body">
                    <form role="search" action="~/Archieve" method="post">
                        <div class="form-group">
                            <label class="control-label" for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title"
                                   value="@Request.QueryString["title"]"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="source">Source</label>
                            <input type="text" class="form-control" id="source" name="source" 
                                   value="@Request.QueryString["source"]"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="author">Author</label>
                            <input type="text" class="form-control" id="author" name="author" 
                                   value="@Request.QueryString["author"]"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="category">Category</label>
                            <input type="text" class="form-control" id="category" name="category" 
                                   value="@Request.QueryString["category"]"/>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="origin">Origin</label>
                            <select class="form-control" id="origin" name="origin">
                                <option value="BIT">BIT</option>
                                <option value="BZOJ">BZOJ</option>
                                <option value="CF">CodeForces</option>
                                <option value="GYM">CodeForces Gym</option>
                                <option value="HDU">HDU</option>
                                <option value="POJ">POJ</option>
                                <option value="UVa">UVa</option>
                                <option value="LA">UVa Live Archive</option>
                                <option value="ZOJ">ZOJ</option>
                            </select>
                        </div>

                        <hr />

                        <button type="submit" class="btn btn-info btn-block">Query</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        @{
            if (Model.Pages > 0)
            {
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        @for (int page = 1; page <= Model.Pages; ++page)
                        {
                            if (page == Model.CurrentPage)
                            {
                                <li class="active">
                                    <a href="javascript:void(0);">
                                        @page
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                string pageUrl = string.Format("~/Archieve/Local/{0}", page);

                                <li>
                                    <a href="@pageUrl">@page</a>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            }
            else
            {
                <div class="alert alert-info">
                    <p>There are no problems in the archieve yet.</p>
                </div>
            }
        }

        @Html.Partial("~/Views/Shared/ProblemList.cshtml", Model.Problems)
    </div>
</div>
